.tier-card {
  border-radius: 18px;
  min-width: 220px;
  padding: 34px 34px 22px 34px;
  font-weight: 500;
  margin: 0 14px;
  box-shadow: 0 6px 18px #aaa4;
  background: linear-gradient(130deg, #32c2ff44, #fff 70%);
}
.tier-card-basic { background: linear-gradient(130deg,#32c2ff44,#eafefd,#fff); color:#1bc2ed;}
.tier-card-intermediate { background: linear-gradient(130deg,#4ecd6a55,#f3fff7,#fff); color:#31a852;}
.tier-card-pro { background: linear-gradient(127deg,#fc636b33,#ffeaea,#fff); color:#c95059;}
.tier-card h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.8rem;
}
